body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #501fee;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003366;
  color: #ffcc00;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #501fee;;
}

form {
  max-width: 500px;
  margin: 3rem auto;
  background-color: #f9fbff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #501fee;;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form select {
  width: 100%;
  padding: 10px;
  margin-top: 0.3rem;
  border: 1px solid #501fee;;
  border-radius: 5px;
}

button, input[type="submit"] {
  background-color: #003366;
  color: #ffcc00;
  border: none;
  padding: 10px 20px;
  margin-top: 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover,
input[type="submit"]:hover {
  background-color: #002244;
}

.resources {
    border: 2px solid #ffcc00;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #f9f9f9;
    margin: 20px;
}

.profile {
    border: 2px solid #ffcc00;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background:white;
    margin: 20px;
}


